
<!DOCTYPE html>
<html lang="en">

	<head>
	
		<title>CA_CULFEST'18</title>
		{% include "head.html" %}
		
		<style type="text/css">
			{% load static %}
			body{
			background-color: black ;
		}

		.card-content{
			color:#fff!important;
		}
	
		ul:not(.browser-default) li {
    		list-style-type: disc;
		}
		</style>
		<script type="text/javascript">

			$(window).on("load", function() {
				    $('body').addClass('loaded');
				});

			 $(document).ready(function(){

			    $('.modal').modal();

			  });
		</script>
	</head>
	
	<body class="style-14">



			<div id="loader-wrapper">
			  <div id="loader"></div>
			  
			  <div class="loader-section section-left"></div>
			  <div class="loader-section section-right"></div>
			  
			</div>


			<a id="logins" href="{% url 'social:begin' 'facebook' %}" class="waves-effect waves-light btn-large " style="font-weight:bold;letter-spacing:0.2rem;position:absolute;top:20px;right:10px;background-color:rgba(255,255,255,0.2)">Facebook Login</a>
			<a id="guides" href="#modal1" class="waves-effect waves-light btn-large modal-trigger " style="font-weight:bold;letter-spacing:0.2rem;position:absolute;top:20px;left:10px;background-color:rgba(255,255,255,0.2)">Guidelines</a>

			<div class="row" id="mob_login">
				<div class="col s12 center">
					<br/>
					<a href="{% url 'social:begin' 'facebook' %}" class="waves-effect waves-light btn-large " style="font-weight:bold;letter-spacing:0.2rem;background-color:rgba(255,255,255,0.2)">Facebook Login</a>
				</div>
			</div>

			

			<div id="modal1" class="modal">
		    <div class="modal-content ">
		      <h5>RESPONSIBILITIES OF A CA</h5>
		      <br/>
A Campus Ambassador is an official representative of Culfest in his/her college and is an essential link between the two. As a Campus Ambassador you will be striving to ensure maximum participation at Culfest 2018 from your college. This can be achieved through:<br/>
	<ul style="list-style-type:disc!important">
	<li>Online publicity of Culfest through social media in your city and especially in your college.</li>
	<li>Offline publicity of Culfest events by sticking posters or any other means in your college.</li>
	<li>Encouraging and facilitating participation from your college in the various online and offline events conducted by Culfest.</li>
	<li>Helping out Culfest to reach out to your college in any manner you deem fit.</li>
	<li>Word of Mouth publicity.</li>
	</ul>
 <h4>GUIDELINES- </h4>
As a Campus Ambassador you would be working in the below mentioned criterias. Every deed and activity has its own points allotted. Your tasks can broadly be divided into Facebook Activities and Non-Facebook Activities.
<h5>THE SCORING WAY –</h5>
<ul>
<li>Effective sharing of posts gives you instant lead in the CA program. Sharing of posts range from your timeline or in the groups which increase your lead. It must be noted that posts must be shared with privacy setting 'Everyone' or with 'Friends of Friends' on the timeline; failing which your lead might decrease. Increment in the number of friends who have liked the Facebook page of CULFEST would also increase your lead.</li>
<li>You would be eyed by us on weekly basis as well which means - the ambassador who is in the lead in the given week would be termed as AMBASSADOR OF THE WEEK which would fetch him extra rewards. </li>
<li>Sharing contacts details of the participants as well as professionals with us would also help in increasing your lead. </li>
<li>Greater usage of your Campus Ambassador ID, which is of utmost importance, puts you further ahead in the race of campus ambassadors.</li>
</ul>

<h5>INCENTIVES AND PERKS OF OUTPERFORMING</h5>
<ul>
<li>CASH REWARDS </li>
<li>SELFIE WITH THE CELEBRITY OF THE PRO NIGHT</li>
<li>FREE REGISTRATION – which includes you to permit to participate in all the events and CELEBRITY NIGHT PASS along with the goodies bag and fest Tshirt.</li>
<li>BEAN BAGS SEATS PASS Reserved for special guests and elites.</li>
<li>FOOD COUPONS – which include top restraunts chains discount valid all round the India and Globe.</li>
<li>OFFICIAL MERCHANDISE of CULFEST 2018</li>
<li>GIFT HAMPERS</li>
</ul>

<h5>WISH YOU LUCK !! </h5>
<h5>CULFEST TEAM.</h5>

		    </div>
		    <div class="modal-footer">
		      
		    </div>
		  	</div>
		
		 <div class="row">
		 	
	        <div class="col s12 m12 l12">
	          <div class="card transparent">
	            <div class="card-image">
	              <img  src="{% static "images/CA_graphic.jpg" %} " style="border-radius:0;width:100%" />
	            </div>
	            <div class="card-content center">
	        	 <br/>
	              <p id="culfest18" style="font-size:40px;color:#fff">CULFEST'18</p>
				  <p id="ca" style="font-size:40px;color:#fff">CAMPUS AMBASSADOR PROGRAM</p>
	            </div>
	          </div>
	        </div>
	        
        </div>

		<div class="row">
		<div class="col l3"></div>
        <div class="col s12 m12 l6 center">
          <div class="card transparent darken-1">
            <div class="card-content white-text">
              <span class="card-title" ></span>
              <p style="font-size:20px">Hello guys,</p>
			  <p style="font-size:25px">Are you people interested in being a part of Culfest..? </p>
			  <p style="font-size:25px">Do you want to help us in organising this Mega event..??</p><br/>
			<p style="font-size:20px">	Then, here is a golden opportunity for you to be one among us...! You can promote our fest in your college by being a Campus Ambassador. Be a part of it and bring more n more participation. In short, you will be a representative of Culfest in your city and college. Anyone with good communication and managerial skills can apply for this... For more details you may go through our guidelines. </p><br/>
				<p style="font-size:25px">So hurry up, and grab the opportunity to make Culfest bigger and better..!</p>
				<div class="row" id="mob_guide">
				<div class="col s12 center">
					<br/>
					<a href="#modal1" class="waves-effect waves-light btn-large modal-trigger " style="font-weight:bold;letter-spacing:0.2rem;background-color:rgba(255,255,255,0.2)">Guidelines</a>
				</div>
				</div>
            </div>   
          </div> 
        </div>
        <div class="col l3"></div>
      </div>

	
		<div class="container transparent center">
						<p style="color:#fff;font-size:40px">CONTACT US<p>
			    		<br/>
				    	<div class="row">
				    		
							<div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/Chetan.jpg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>CHETAN UMRAO</b></p>
					              		<P>GENERAL SECRETARY</P>
					              		<P>gensec.cf@nitjsr.ac.in</P>
					              		<P>+91 94303 63326</P>
					            	</div>
					          	</div>
					        </div>

					        <div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/Ajeet.jpeg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>AJEET GUPTA</b></p>
					              		<P>PR HEAD</P>
					              		<P>culsec.sc@nitjsr.ac.in</P>
					              		<P>+91 85788 90673</P>
					            	</div>
					          	</div>
					        </div>

					        <div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/Rajiv.jpeg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>RAJIV KUMAR</b></p>
					              		<P>JOINT SECRETARY</P>
					              		<P>jointsec.cf@nitjsr.ac.in</P>
					              		<P>+91 95700 40029</P>
					              		<P></P>
					            	</div>
					          	</div>
					        </div>

							

					    </div>

						<div class="row">
				    		
					        <div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/Aadersh.jpg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>AADERSH AGARWAL</b></p>
					              		<P>ONLINE EVENTS/ PRO-NITES</P>
					              		<P>+91 72098 91533</P>
					              		<P></P>
					            	</div>
					          	</div>
					        </div>

					        <div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/poras1.jpg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>PORAS THAVNANI</b></p>
					              		<P>ONLINE EVENTS/ PRO-NITES</P>
					              		<P>+91 87973 61542</P>
					              		<P></P>
					            	</div>
					          	</div>
					        </div>
							
							<div class="col s12 m12 l4">
					          	<div class="card transparent" style="height:300px;padding:20px">
					            	<div class="card-image">
					              		<img src="{% static "images/rospic.jpg" %}" class="responsive-img" style="height:150px" />
					              		
					            	</div>
					            	<div class="card-content center">
					              		<p><b>ROSHAN KUMAR</b></p>
					              		<P>WEB DEVELOPER</P>
					              		<P>+91 9204092799</P>
					              		<P></P>
					            	</div>
					          	</div>
					        </div>
							

					    </div>

				</div>


	</body>

</html>



